asgiref==3.11.1
attr==0.3.2
backports.statistics==0.1.0
charset_normalizer==3.4.0
checks==0.2
ConfigParser==7.2.0
contextlib2==21.6.0
cryptography==48.0.1
Cython==3.2.5
defusedxml==0.7.1
docutils==0.23
filelock==3.29.3
h2==4.3.0
HTMLParser==0.0.2
hypothesis==6.155.2
importlib_metadata==8.7.1
ipython==8.12.3
ipywidgets==8.1.8
jnius==1.1.0
js==1.0
keyring==25.7.0
mock==5.2.0
mtrand==0.1
mypy==2.1.0
olefile==0.47
pandas==3.0.3
psutil==7.2.2
PyInstaller==6.20.0
pyodide==0.0.2
pyOpenSSL==26.2.0
PyQt6==6.11.0
PySide6==6.11.1
pytest==8.4.2
pytest_run_parallel==0.9.1
python-dotenv==1.2.2
pywin32==311
PyYAML==6.0.2
PyYAML==6.0.3
redis==8.0.0
scipy_doctest==2.2.0
setuptools==70.2.0
Sphinx==9.1.0
thread==2.0.6
threadpoolctl==3.6.0
typing_extensions==4.15.0
watchdog==6.0.0
xmlrpclib==1.0.1
